body {
  font-family: $primary-font;
  color: $primary-text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
