$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$primary-text-color: #444444;
$secondary-text-color: #222222;
$light-text-color: #ffffff;

$title-color: #000000;

$decoration-color: #68b738;
$decotation-background-color: #d9d9d9;

$tablet-width: 768px;
$desktop-width: 1440px;
