$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$primary-text-color: #444444;
$secondary-text-color: #222222;
$light-text-color: #ffffff;

$title-color: #000000;

$decoration-color: #68b738;
$decoration-opacity-color: #5eaa2f;

$interactive-vector-background: #666666;
$hr-color: #e6e6e6;

$basic-background: #f2f2f2;

$border-color: #cdcdcd;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
