/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS index and common */
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/advantages.scss";
@import "./blocks/nutrition.scss";
@import "./blocks/example.scss";
@import "./blocks/result.scss";
@import "./blocks/slider.scss";
@import "./blocks/address.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/copyright.scss";
@import "./blocks/social.scss";
@import "./blocks/page-wrapper.scss";

/* BLOCKS gallery */
@import "./blocks/gallary.scss";
@import "./blocks/extra-goods.scss";
@import "./blocks/good-card.scss";
@import "./blocks/email-form.scss";
@import "./blocks/more-goods.scss";
@import "./blocks/button.scss";

