.advantages__title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $title-color;
  text-transform: uppercase;
}

.advantages__description {
  color: $primary-text-color;
}

.advantages__link {
  font-family: $secondary-font;
  font-style: 16px;
  line-height: 16px;
  color: $title-color;
  text-transform: uppercase;
}
