.main-footer__copyright {
  position: relative;
  width: 280px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .main-footer__copyright {
    padding-left: 0;
  }
}


.copyright__link {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  padding-top: 8px;
  padding-bottom: 47px;

  &:active {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-top: 0;
    margin-right: 10px;
  }
}

.copyright__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#html-academy-logo");
  background-repeat: no-repeat;
  background-color: $interactive-vector-background;
  right: 1px;
}

@media (min-width: $tablet-width) {
  .copyright__link::before {
    padding-top: 0;
    top: -5px;
    right: -20px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link::before {
    right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link::before {
    margin-right: -23px;
  }
}

.copyright__link:hover::before {
  background-color: $decoration-color;
}

.copyright__link:active::before {
  opacity: 30%;
  background-color: $decoration-opacity-color;
}
