.email-form__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $title-color;
}

.email-form__label {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $title-color;
}
