.gallery__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.gallery__description {
  font-size: 12px;
  line-height: 16px;
}

.gallery__value {
  font-size: 12px;
  line-height: 16px;
}
