.header__hr {
  margin-top: 50px;
  border-color: #d9d9d9;
}

.logo {
  padding-bottom: 50px;
  z-index: 29;
}

.logo__image {
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .logo__image {
    padding-top: 20px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    padding-top: 55px;
    padding-left: 110px;
  }
}

.logo__text {
  position: absolute;
  padding-top: 19px;
  padding-left: 109px;
}

@media (min-width: $tablet-width) {
  .logo__text {
    padding-top: 41px;
    padding-left: 103px;
  }
}

@media (min-width: $desktop-width) {
  .logo__text {
    padding-top: 74px;
    padding-left: 194px;
  }
}

.logo__text:hover {
  opacity: 80%;
}

.logo__text:active {
  opacity: 60%;
}

.logo__image:hover {
  opacity: 80%;
}

.logo__image:active {
  opacity: 60%;
}

.main-header {
  position: relative;
}
