.nutrition__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
}

.nutrition__description {
  color: $primary-text-color;
  padding-left: 100px;
  margin-bottom: 24px;
}

.nutrition__item--leaf::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-repeat: no-repeat;
}

.nutrition__item--pounder::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#pounder-icon");
  background-repeat: no-repeat;
}

.nutrition__item--tableware::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#tablewear-icon");
  background-repeat: no-repeat;
}

.nutrition__item--watch::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#watch-icon");
  background-repeat: no-repeat;
}
