.result__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $title-color;
}

.result__text {
  font-size: 12px;
  line-height: 12px;
  color: $primary-text-color;
}

.result__cost {
  font-family: $secondary-font;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
}
