.slider {
  position: relative;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media (max-width: $mobile-width-only) {
  .slider {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
	  margin-left: 340px;
    width: 1440px;
  }
}

.slider__button {
  display: block;
  position: relative;
  width: 4px;
  height: 256px;
  background: $interactive-vector-background;
  padding: 0;
  border: none;
  z-index: 3;
  margin: 0 auto;


  &:is(:hover, :focus-visible, :focus) {
    background-color: $decoration-color;
  }

  &:active {
    opacity: 0.6;
    background: $decoration-opacity-color;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    border: 2px solid $interactive-vector-background;
    border-radius: 50%;
    background-color: $basic-background;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:is(:hover, :focus-visible, :focus)::before {
    border-color: $decoration-color;
  }

  &:active::before {
    border-color: $decoration-opacity-color;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #666666;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#controls");
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &:is(:hover, :focus-visible, :focus)::after {
    background-color: $decoration-color;
  }
}

@media (min-width: $tablet-width) {
  .slider__button {
    margin-top: 123px;
    height: 512px;
  }
}

@media (min-width: $desktop-width) {
  .slider__button {
    margin-top: -545px;
    margin-left: 715px;
  }
}

.result__fat-cat {
  position: absolute;
  z-index: 1;
  background-color: #eaeaea;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .result__fat-cat {
    background-color: $light-text-color;
    left: 107px;
  }
}

@media (min-width: $desktop-width) {
  .result__fat-cat {
    background-color: #f2f2f2;
    left: 433px;
  }
}

.result__thin-cat {
  position: absolute;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .result__thin-cat {
    left: 100px;
  }
}

@media (min-width: $desktop-width) {
  .result__thin-cat {
	left: 433px;
}
}

.slider__slide--before {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.slider__slide--after {
  position: absolute;
}
