.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  padding-right: 94px;
  padding-left: 94px;
  margin-bottom: 20px;
  gap: 24px;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
    margin-right: 125px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-right: 381px;
  }
}

.social__link--vkontakte::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/stack.svg#vkontakte-icon");
  background-color: $interactive-vector-background;
}

.social__link--youtube::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/stack.svg#youtube-icon");
  background-color: $interactive-vector-background;
}

.social__link--telegram::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/stack.svg#telegram-icon");
  background-color: $interactive-vector-background;
}

.social__link:hover::before {
  background-color: $decoration-color;
}

.social__link:active::before {
  opacity: 60%;
  background-color: $decoration-opacity-color;
}
